body{ overflow: hidden; }
a#helpicon{
    color:#fff;
    background-color:#feb22a;
    width:15px;
    height:15px;
    display:inline-block;
    border-radius:100%;
    font-size:10px;
    text-align:center;
    text-decoration:none;
    -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
}
.cluster
{float:left; width:200px; height:200px; margin:10px;padding:10px;border:1px solid #aaaaaa;}

#reset
{
 background-color:#ae142a;
 color:#fff;
}

ul.create_cluster
{
    list-style-type: none;
}

@media (min-width: 768px) {
  .modal-xl {
    width:95%;
   max-width:1000px;
  }
}

@media (min-width: 1068px) {
  .modal-el {
    width:95%;
   max-width:1100px;
  }
}

